<div class="container">	

	<div class="row">
		<!-- first -->

		<div class="col-lg-3" ng-controller="productsController">
					<h2>Products <span class="badge">  {{ products.length }} </span> </h2>
					<h2> {{error}} </h2>

					<p> {{ productName }} </p>
					 
					<input type="search" placeholder="Search product name" ng-model="productName" />
						
							<div ng-repeat="catObject in categories" >
							<input type="checkbox" ng-click="categoryChange(catObject.category)"> {{ catObject.category }}
							</div>
		
		</div>


<div class="col-lg-9">
				<div ng-controller="cartController" class="well">
					<h2>Cart</h2>
					<table class="table table-bordered table-striped">
						<tr>
							<th>Product</th>
							<th>Quantity</th>
							<th>Total</th>
							<th>Confirm</th>
							<th>Delete</th>
						</tr>
						<tr ng-repeat="cartProduct in cartProducts">
							<td> {{cartProduct.product.name}} </td>
							<td> {{cartProduct.quantity}} </td>
							<td>{{ cartProduct.total}}</td>
							<td>
								<form ng-submit="">
									<button type="submit" class="btn btn-success">Payment</button>
								</form>

							</td>
							<td>
								<form>
									<button type="submit" ng-click="deleteCartProduct(cartProduct)" class="btn btn-danger" >Delete</button>
								</form>
							</td>
						</tr>
						<tr>
							<td>Total Sum</td>
						 	<td></td>
						 
							<td>{{ totalsum}}</td>
							<td></td>
							<td></td>
						</tr>
						 	
					</table>
				</div>			 	
	
</div>










	</div>	<!--  end of the main row -->

	<div class="row"> <!-- second ro´w -->
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"	
														 ng-repeat="product in products | filter:productName | filter:categoryFilter" class="thumbnail">
							<a ng-href= "#/{{product.id}}" class="thumb">
								<img class="img-responsive" ng-src="{{product.imageUrl}}" ></a>

									<div class="well">
									<h4>{{product.name}}</h4>
									<label>
										Price:
									</label>
									<p> {{product.price}}</P>
									</div>
								<div class="input-group ">
									<form ng-submit="sendtoCart(product)">
										<input type="number" ng-model="quantity" />
										<button type="submit" class="btn btn-success">Add to Cart</button>
									</form> 
								</div>
				</div>	

	</div> <!-- second row -->


			
		
  <!-- end foirst -->

	
				

</div> <!-- end container -->










<!-- ------------------------------------------------------------------------------------------------ 


<div class="col-lg-9">
	<div ng-controller="cartController" class="well">
		<h2>Cart</h2>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Total</th>
				<th>Confirm</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="cartProduct in cartProducts">
				<td> {{cartProduct.product.name}} </td>
				<td> {{cartProduct.quantity}} </td>
				<td>{{ cartProduct.total}}</td>
				<td>
					<form ng-submit="">
						<button type="submit" class="btn btn-success">Payment</button>
					</form>

				</td>
				<td>
					<form>
						<button type="submit" ng-click="deleteCartProduct(cartProduct)" class="btn btn-danger" >Delete</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>Total Sum</td>
			 	<td></td>
			 
				<td>{{ totalsum}}</td>
				<td></td>
				<td></td>
			</tr>
			
				
			 	
		</table>
	</div>			 	
	
	
	
</div>

-->